<div class="text-primary p-4 font-sans space-y-4">
    <h2 class="text-primary text-xl font-semibold mb-4">
        {{ 'addNewAccount' | translate }}
    </h2>

    <form [formGroup]="form">
        <div class="bg-primary p-4 rounded-2xl shadow-sm space-y-4">
            <!-- accountNameIsEmpty -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'accountName' | translate }}
                </label>
                <input
                    type="text"
                    formControlName="accountName"
                    class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
                    [placeholder]="'accountName' | translate"
                />
                @if (submitted && form.get('accountName')?.invalid) {
                <span class="text-red-500">{{
                    'addAccountForm.accountNameIsEmpty' | translate
                }}</span>
                }
            </div>

            <!-- Username -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'userName' | translate }}
                </label>
                <input
                    type="text"
                    formControlName="username"
                    class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
                    [placeholder]="'userName' | translate"
                />
                @if (submitted && form.get('username')?.invalid) {
                <span class="text-red-500">{{ 'addAccountForm.userNameIsEmpty' | translate }}</span>
                }
            </div>

            <!-- Password -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'password' | translate }}
                </label>
                <div class="relative">
                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        formControlName="password"
                        class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
                        placeholder="*****************"
                    />
                    <button
                        type="button"
                        class="text-primary hover:text-primary-hover absolute right-3 top-1/2 -translate-y-1/2 transition"
                        (click)="showPassword = !showPassword"
                    >
                        @if(!showPassword){
                        <app-icon name="eye"></app-icon>
                        } @if(showPassword){
                        <app-icon name="eye-slash"></app-icon>
                        }
                    </button>
                </div>

                @if (submitted && form.get('password')?.invalid) {
                <span class="text-red-500">{{ 'addAccountForm.passwordIsEmpty' | translate }}</span>
                }
            </div>

            <!-- Confirm Password -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'confirmPassword' | translate }}
                </label>
                <div class="relative">
                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        formControlName="confirmPassword"
                        class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
                        placeholder="*****************"
                    />
                    <button
                        type="button"
                        class="text-primary hover:text-primary-hover absolute right-3 top-1/2 -translate-y-1/2 transition"
                        (click)="showPassword = !showPassword"
                    >
                        @if(!showPassword){
                        <app-icon name="eye"></app-icon>
                        } @if(showPassword){
                        <app-icon name="eye-slash"></app-icon>
                        }
                    </button>
                </div>

                @if (submitted && form.get('password')?.value !==
                form.get('confirmPassword')?.value) {
                <span class="text-red-500">{{
                    'addAccountForm.passwordIsNotMatch' | translate
                }}</span>
                }
            </div>

            <!-- Note -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'note' | translate }}
                </label>
                <textarea
                    rows="5"
                    formControlName="note"
                    class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none resize-none transition"
                    [placeholder]="'note' | translate"
                ></textarea>
            </div>

            <!-- Submit button -->
            <button
                class="bg-primary hover:bg-primary-hover text-primary w-full py-3 rounded-xl shadow-md active:scale-[0.97] transition transform font-medium"
                (click)="save()"
            >
                {{ 'saveAccount' | translate }}
            </button>
        </div>
    </form>
</div>
