<div>
    <label class="text-primary block text-sm font-medium mb-1">
        {{ label | translate }}
    </label>
    <div class="relative">
        <input
            [type]="showPassword ? 'text' : 'password'"
            class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
            [placeholder]="placeholder | translate"
            (focus)="handleFocus($event)"
            (input)="handleInput($event)"
            (change)="handleChange($event)"
            [readonly]="readonly"
            [disabled]="disabled"
        />
        <button
            type="button"
            class="text-primary hover:text-primary-hover absolute right-3 top-1/2 -translate-y-1/2 transition"
            (click)="showPassword = !showPassword"
        >
            @if(!showPassword){
            <app-icon name="eye"></app-icon>
            } @if(showPassword){
            <app-icon name="eye-slash"></app-icon>
            }
        </button>
    </div>
</div>
