@keyframes scale-fade {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-scale-fade {
    animation: scale-fade 0.2s forwards;
}
