@import 'tailwindcss';

@layer utilities {
    /* ============ background ============ */
    .bg-primary {
        background-color: var(--color-surface);
    }

    .bg-primary-hover,
    .hover\:bg-primary-hover:hover {
        background-color: var(--color-surface-hover);
    }

    .bg-primary-active,
    .active\:bg-primary-active:active {
        background-color: var(--color-surface-active);
    }

    /* ============ text ============ */
    .text-primary {
        color: var(--color-text);
    }

    .text-primary-hover,
    .hover\:text-primary-hover:hover {
        color: var(--color-text-hover);
    }

    .text-primary-active,
    .active\:text-primary-active:active {
        color: var(--color-text-active);
    }

    /* ============ border ============ */
    .border-primary {
        color: var(--color-text);
    }

    .border-primary-hover,
    .hover\:border-primary-hover:hover {
        color: var(--color-border-hover);
    }

    .border-primary-active,
    .active\:border-primary-active:active {
        color: var(--color-border-active);
    }

    /* ============ button ============ */
    .button-primary {
        background-color: var(--bg-button-primary);
        color: var(--text-button-primary);
    }

    .button-primary-hover,
    .hover\:button-primary-hover:hover {
        background-color: var(--bg-button-primary-hover);
        color: var(--text-button-primary-hover);
    }

    .button-primary-active,
    .active\:button-primary-active:active {
        background-color: var(--bg-button-primary-active);
        color: var(--text-button-primary-active);
    }
}

@layer base {
    [data-theme='light'] {
        /* ============ background ============ */
        --color-surface: var(--color-white);
        --color-surface-hover: var(--color-gray-100);
        --color-surface-active: var(--color-blue-700);

        /* ============ text ============ */
        --color-text: var(--color-gray-800);
        --color-text-hover: var(--color-red-900);
        --color-text-active: var(--color-gray-900);

        /* ============ border ============ */
        --color-border: var(--color-gray-200);
        --color-border-hover: var(--color-blue-700);
        --color-border-active: var(--color-blue-700);

        /* ============ button ============ */
        --bg-button-primary: var(--color-blue-800);
        --bg-button-primary-hover: var(--color-blue-700);
        --bg-button-primary-active: var(--color-blue-900);
        --text-button-primary: var(--color-white);
        --text-button-primary-hover: var(--color-white);
        --text-button-primary-active: var(--color-white);
    }

    [data-theme='dark'] {
        /* ============ background ============ */
        --color-surface: var(--color-gray-900);
        --color-surface-hover: var(--color-gray-800);
        --color-surface-active: var(--color-blue-700);

        /* ============ text ============ */
        --color-text: var(--color-gray-200);
        --color-text-hover: var(--color-green-900);
        --color-text-active: var(--color-white);

        /* ============ border ============ */
        --color-border: var(--color-gray-700);
        --color-border-hover: var(--color-blue-200);
        --color-border-active: var(--color-blue-200);

        /* ============ button ============ */
        --bg-button-primary: var(--color-blue-800);
        --bg-button-primary-hover: var(--color-blue-700);
        --bg-button-primary-active: var(--color-blue-900);
        --text-button-primary: var(--color-white);
        --text-button-primary-hover: var(--color-white);
        --text-button-primary-active: var(--color-white);
    }
}
