<div class="text-primary p-4 font-sans space-y-4">
    <!-- Logo -->
    <div class="flex flex-col items-center space-y-2">
        <img src="/encrypted.png" class="w-16 h-16 rounded-xl shadow-sm" alt="App Logo" />
        <h1 class="text-xl font-semibold">{{ 'addPasscodeForm.addPasscode' | translate }}</h1>
    </div>

    <form [formGroup]="form">
        <div class="bg-primary p-4 rounded-2xl shadow-sm space-y-4">
            <!-- passcode -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'addPasscodeForm.passcode' | translate }}
                </label>
                <div class="relative">
                    <input
                        [type]="showPasscode ? 'text' : 'password'"
                        formControlName="passcode"
                        class="border-primary text-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
                        placeholder="*****************"
                    />
                    <button
                        type="button"
                        class="text-primary hover:text-primary-hover absolute right-3 top-1/2 -translate-y-1/2 transition"
                        (click)="showPasscode = !showPasscode"
                    >
                        @if(!showPasscode){
                        <app-icon name="eye"></app-icon>
                        } @if(showPasscode){
                        <app-icon name="eye-slash"></app-icon>
                        }
                    </button>
                </div>

                @if (submitted && form.get('passcode')?.invalid) {
                <span class="text-red-500">{{ 'addAccountForm.passwordIsEmpty' | translate }}</span>
                }
            </div>

            <!-- Confirm Password -->
            <div>
                <label class="text-primary block text-sm font-medium mb-1">
                    {{ 'addPasscodeForm.confirmPasscode' | translate }}
                </label>
                <div class="relative">
                    <input
                        [type]="showPasscode ? 'text' : 'password'"
                        formControlName="confirmPasscode"
                        class="text-primary border-primary w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-blue-400 outline-none transition"
                        placeholder="*****************"
                    />
                    <button
                        type="button"
                        class="text-primary hover:text-primary-hover absolute right-3 top-1/2 -translate-y-1/2 transition"
                        (click)="showPasscode = !showPasscode"
                    >
                        @if(!showPasscode){
                        <app-icon name="eye"></app-icon>
                        } @if(showPasscode){
                        <app-icon name="eye-slash"></app-icon>
                        }
                    </button>
                </div>

                @if (submitted && form.get('passcode')?.value !==
                form.get('confirmPasscode')?.value) {
                <span class="text-red-500">{{
                    'addAccountForm.passcodeIsNotMatch' | translate
                }}</span>
                }
            </div>

            <!-- Submit button -->
            <button
                class="button-primary hover:button-primary-hover active:button-primary-active w-full py-3 rounded-xl shadow-md active:scale-[0.97] transition transform font-medium"
                (click)="save()"
            >
                {{ 'addPasscodeForm.addPasscode' | translate }}
            </button>
        </div>
    </form>
</div>
